In [1]:
#import all datasets
import pandas as pd 

admissions = pd.read_csv(r"/workspaces/Predictive-Healthcare-Capacity-Management/Database/admissions.csv")
metrics = pd.read_csv(r"/workspaces/Predictive-Healthcare-Capacity-Management/Database/daily_metrics.csv")
hospitals = pd.read_csv(r"/workspaces/Predictive-Healthcare-Capacity-Management/Database/hospitals.csv")
main_admissions = pd.read_csv(r"/workspaces/Predictive-Healthcare-Capacity-Management/Database/main_admissions.csv")
main_metrics = pd.read_csv(r"/workspaces/Predictive-Healthcare-Capacity-Management/Database/main_daily_metrics.csv")
wards = pd.read_csv(r"/workspaces/Predictive-Healthcare-Capacity-Management/Database/wards.csv")
print(admissions.head())

   ï»¿admission_id        date  hospital_id ward_code arrival_source  \
0                1  2022-10-28            1        ED       referral
1                2  2022-10-28            1       ICU      ambulance
2                3  2022-10-28            1        ED           self
3                4  2022-10-28            1       MED           self
4                5  2022-10-28            1        ED           self

  triage_level  wait_minutes  length_of_stay_days      outcome  age sex  \
0          4.0           189                    0   discharged   48   M
1          4.0           189                    0  transferred   93   F
2          NaN           189                    0   discharged   52   M
3          3.0           189                    0   discharged   64   M
4          4.0           189                    0   discharged   59   M

   procedure_flag
0             0.0
1             0.0
2             0.0
3             0.0
4             0.0

In [7]:
admissions

,ï»¿admission_id,date,hospital_id,ward_code,arrival_source,triage_level,wait_minutes,length_of_stay_days,outcome,age,sex,procedure_flag,admission_id
0,1.0,2022-10-28,1,ED,referral,4.0,189,0,discharged,48,M,0.0,NaN
1,2.0,2022-10-28,1,ICU,ambulance,4.0,189,0,transferred,93,F,0.0,NaN
2,3.0,2022-10-28,1,ED,self,NaN,189,0,discharged,52,M,0.0,NaN
3,4.0,2022-10-28,1,MED,self,3.0,189,0,discharged,64,M,0.0,NaN
4,5.0,2022-10-28,1,ED,self,4.0,189,0,discharged,59,M,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
169271,NaN,2024-03-17,5,SURG,self,NaN,104,1,discharged,65,F,1.0,189393.0
169272,NaN,2024-03-17,5,SURG,self,NaN,104,3,discharged,60,F,1.0,189394.0
169273,NaN,2024-03-17,5,SURG,self,NaN,104,5,readmit_30d,81,M,1.0,189395.0
169274,NaN,2024-03-18,5,SURG,ambulance,NaN,105,3,discharged,65,M,1.0,189396.0
169275,NaN,2024-03-18,5,SURG,self,NaN,105,1,discharged,52,M,1.0,189397.0

Merge Our Data from the two sources

In [2]:
# Concatenate admissions and main_admissions, ignore index to avoid duplicate indices
admissions = pd.concat([admissions, main_admissions], ignore_index=True)

# Concatenate metrics and main_metrics, ignore index to avoid duplicate indices
metrics = pd.concat([metrics, main_metrics], ignore_index=True)

Checking for inconsistencies

In [21]:
#Checking null values 
list_data = [("admissions",admissions),("metrics",metrics), ("hospitals",hospitals),("wards",wards)]

for name, data in list_data:
    print(name)
    print(f"{round(data.isnull().mean()*100,2)}\n")
    print(data.duplicated().sum())
    print(data.describe())
    print(data.describe(include=("O","category")))
    print("-"*100)

admissions
ï»¿admission_id        99.68
date                    0.00
hospital_id             0.00
ward_code               0.00
arrival_source          0.00
triage_level            0.00
wait_minutes            0.00
length_of_stay_days     0.00
outcome                 0.00
age                     0.00
sex                     0.00
procedure_flag          0.00
admission_id            0.32
dtype: float64

0
       ï»¿admission_id                           date    hospital_id  \
count        545.00000                         169276  169276.000000
mean         273.00000  2024-04-14 13:36:57.131784960       2.861197
min            1.00000            2022-10-28 00:00:00       1.000000
25%          137.00000            2023-07-12 00:00:00       2.000000
50%          273.00000            2024-04-07 00:00:00       3.000000
75%          409.00000            2025-01-16 00:00:00       4.000000
max          545.00000            2025-10-26 00:00:00       5.000000
std          157.47222                            NaN       1.448333

        wait_minutes  length_of_stay_days            age  procedure_flag  \
count  169276.000000        169276.000000  169276.000000   169275.000000
mean      192.670266             3.026460      55.778527        0.191966
min       -15.000000            -5.000000      -5.000000        0.000000
25%       142.000000             0.000000      44.000000        0.000000
50%       184.000000             2.000000      56.000000        0.000000
75%       234.000000             5.000000      68.000000        0.000000
max       611.000000            20.000000     157.000000        2.000000
std        75.111417             3.070374      17.979342        0.393862

        admission_id
count  168731.000000
mean    91693.549662
min         1.000000
25%     42183.500000
50%     84366.000000
75%    147214.500000
max    189397.000000
std     57168.781038
       ward_code arrival_source  triage_level     outcome     sex
count     169276         169276      169276.0      169276  169276
unique         5              4          11.0           5       3
top           ED           self           3.0  discharged       F
freq       53062         101509      137240.0      159360   84782
----------------------------------------------------------------------------------------------------
metrics
ï»¿date                   97.52
hospital_id                0.00
ward_code                  0.00
base_beds                  0.00
effective_capacity         0.00
occupancy                  0.00
overflow                   0.00
admissions                 0.00
discharges                 0.00
staffing_index             0.00
avg_wait_minutes           0.00
admission_rate_per_bed     0.00
discharge_rate_per_bed     0.00
occupancy_rate             0.00
date                       0.00
dtype: float64

0
        hospital_id     base_beds  effective_capacity     occupancy  \
count  21973.000000  21973.000000        21973.000000  21973.000000
mean       2.993355     34.983389           40.020207     39.727757
std        1.416577     11.165714           13.053303     13.023759
min        1.000000     20.000000           20.000000     12.000000
25%        2.000000     30.000000           34.000000     30.000000
50%        3.000000     30.000000           34.000000     34.000000
75%        4.000000     40.000000           46.000000     46.000000
max        5.000000     50.000000           58.000000     58.000000

           overflow    admissions    discharges  staffing_index  \
count  21973.000000  21973.000000  21973.000000     21973.00000
mean      17.822509     31.444637     18.441633         0.98034
std       12.879396     19.283219      9.598736         0.04084
min        0.000000      0.000000      0.000000         0.85000
25%        8.000000     15.000000     10.000000         0.95200
50%       15.000000     28.000000     19.000000         0.98300
75%       26.000000     45.000000     27.000000         1.01000
max       83.000000    102.000000     35.000000         1.10000

       avg_wait_minutes  admission_rate_per_bed  discharge_rate_per_bed  \
count      21973.000000            21973.000000            21973.000000
mean         184.825286                0.925732                0.531468
std           62.310465                0.626726                0.304586
min            1.000000                0.000000                0.000000
25%          147.000000                0.500000                0.320000
50%          179.000000                0.675000                0.425000
75%          218.000000                1.167000                0.800000
max          495.000000                3.400000                1.133000

       occupancy_rate
count    21973.000000
mean         0.992818
std          0.025433
min          0.600000
25%          1.000000
50%          1.000000
75%          1.000000
max          1.000000
           ï»¿date ward_code        date
count          545     21973       21973
unique         545         5        1095
top     2022-10-28       MED  2022-10-28
freq             1      5500         565
----------------------------------------------------------------------------------------------------
hospitals
hospital_id      0.0
hospital_name    0.0
city             0.0
country          0.0
latitude         0.0
longitude        0.0
founded_year     0.0
dtype: float64

0
       hospital_id   latitude  longitude  founded_year
count     5.000000   5.000000   5.000000      5.000000
mean      3.000000  62.745860  25.739880   1998.200000
std       1.581139   1.687173   2.255676     11.300442
min       1.000000  60.440600  22.659200   1979.000000
25%       2.000000  61.654000  25.072100   1998.000000
50%       3.000000  63.286800  25.152700   2003.000000
75%       4.000000  63.669800  27.328000   2003.000000
max       5.000000  64.678100  28.487400   2008.000000
                    hospital_name      city  country
count                           5         5        5
unique                          5         5        1
top     Helsinki Central Hospital  Helsinki  Finland
freq                            1         1        5
----------------------------------------------------------------------------------------------------
wards
hospital_id    0.0
ward_id        0.0
ward_code      0.0
ward_name      0.0
base_beds      0.0
dtype: float64

0
       hospital_id  base_beds
count    20.000000  20.000000
mean      3.000000  35.000000
std       1.450953  11.470787
min       1.000000  20.000000
25%       2.000000  27.500000
50%       3.000000  35.000000
75%       4.000000  42.500000
max       5.000000  50.000000
       ward_id ward_code             ward_name
count       20        20                    20
unique      20         4                     4
top      01-ED        ED  Emergency Department
freq         1         5                     5
----------------------------------------------------------------------------------------------------

Calculating Empirical outliers

-mean #formular depends on the thresholds you want to set



-standard deviation # for less stricter threshold one can use one sd but normally can be two/three sd


#calculating for the lower threshold
lower = mean -(3*standard deviation) # anything below the lower boudary is an outlier 
lower = mean -(3*standard deviation) #anything above the upper boundary is an outlier

In [4]:
for name, data in list_data:
    print(name)
    for col in data.select_dtypes(include='number').columns.tolist():
        mean = data[col].mean()
        std = data[col].std()

        lower = mean - (3 * std)
        upper = mean + (3 * std)

        outliers = data[(data[col] < lower) | (data[col] > upper)]
        print(f"Outliers in column '{col}':")
        print(outliers)

        print(col)
        print(len(outliers))
        print('-'*50)
        print('_'*50)

admissions
Outliers in column 'ï»¿admission_id':
Empty DataFrame
Columns: [ï»¿admission_id, date, hospital_id, ward_code, arrival_source, triage_level, wait_minutes, length_of_stay_days, outcome, age, sex, procedure_flag, admission_id]
Index: []
ï»¿admission_id
0
--------------------------------------------------
__________________________________________________
Outliers in column 'hospital_id':
Empty DataFrame
Columns: [ï»¿admission_id, date, hospital_id, ward_code, arrival_source, triage_level, wait_minutes, length_of_stay_days, outcome, age, sex, procedure_flag, admission_id]
Index: []
hospital_id
0
--------------------------------------------------
__________________________________________________
Outliers in column 'wait_minutes':
        ï»¿admission_id        date  hospital_id ward_code arrival_source  \
192               193.0  2022-11-13            1        ED           self
193               194.0  2022-11-13            1        ED      ambulance
194               195.0  2022-11-13            1        ED           self
195               196.0  2022-11-13            1        ED       referral
196               197.0  2022-11-13            1        ED       referral
...                 ...         ...          ...       ...            ...
147909              NaN  2025-09-26            5        ED           self
147910              NaN  2025-09-26            5        ED       transfer
147911              NaN  2025-09-26            5        ED           self
147912              NaN  2025-09-26            5        ED           self
147913              NaN  2025-09-26            5        ED           self

       triage_level  wait_minutes  length_of_stay_days      outcome  age sex  \
192             3.0           530                    0   discharged   35   M
193             2.0           530                    0   discharged   43   F
194             3.0           530                    0  transferred   70   F
195             2.0           530                    0   discharged   30   F
196             4.0           530                    0   discharged   78   F
...             ...           ...                  ...          ...  ...  ..
147909          4.0           434                    0   discharged   43   F
147910          4.0           434                    0   discharged   89   M
147911          4.0           434                    0  transferred   53   F
147912          4.0           434                    0   discharged   26   F
147913          3.0           434                    0   discharged   41   M

        procedure_flag  admission_id
192                0.0           NaN
193                0.0           NaN
194                0.0           NaN
195                0.0           NaN
196                0.0           NaN
...                ...           ...
147909             1.0      168031.0
147910             1.0      168032.0
147911             0.0      168033.0
147912             1.0      168034.0
147913             1.0      168035.0

[1393 rows x 13 columns]
wait_minutes
1393
--------------------------------------------------
__________________________________________________
Outliers in column 'length_of_stay_days':
        ï»¿admission_id        date  hospital_id ward_code arrival_source  \
13703               NaN  2022-10-30            1       ICU           self
13721               NaN  2022-11-01            1       ICU           self
13750               NaN  2022-11-05            1       ICU      ambulance
13765               NaN  2022-11-07            1       ICU      ambulance
13778               NaN  2022-11-08            1       ICU           self
...                 ...         ...          ...       ...            ...
156164              NaN  2025-09-17            5       ICU      ambulance
156266              NaN  2025-09-30            5       ICU      ambulance
156277              NaN  2025-10-02            5       ICU           self
156296              NaN  2025-10-04            5       ICU           self
156414              NaN  2025-10-20            5       ICU      ambulance

       triage_level  wait_minutes  length_of_stay_days     outcome  age sex  \
13703           NaN           158                   14  discharged   67   F
13721           NaN           221                   13  discharged   75   M
13750           NaN           257                   13  discharged   44   F
13765           NaN           176                   18  discharged   43   F
13778           NaN           153                   13       death   49   F
...             ...           ...                  ...         ...  ...  ..
156164          NaN           203                   15  discharged   68   M
156266          NaN           115                   13  discharged   69   M
156277          NaN           131                   13  discharged   60   M
156296          NaN           143                   13  discharged   45   F
156414          NaN           157                   15  discharged   75   F

        procedure_flag  admission_id
13703              0.0       13159.0
13721              0.0       13177.0
13750              0.0       13206.0
13765              0.0       13221.0
13778              1.0       13234.0
...                ...           ...
156164             0.0      176286.0
156266             0.0      176388.0
156277             1.0      176399.0
156296             0.0      176418.0
156414             0.0      176536.0

[918 rows x 13 columns]
length_of_stay_days
918
--------------------------------------------------
__________________________________________________
Outliers in column 'age':
        ï»¿admission_id        date  hospital_id ward_code arrival_source  \
8                   9.0  2022-10-28            1        ED           self
24                 25.0  2022-10-30            1        ED       referral
111               112.0  2022-11-06            1       ICU      ambulance
310               311.0  2022-11-22            1        ED       referral
368               369.0  2022-11-27            1        ED      ambulance
...                 ...         ...          ...       ...            ...
166002              NaN  2023-02-02            5      SURG      ambulance
166022              NaN  2023-02-05            5      SURG           self
166321              NaN  2023-03-14            5      SURG       referral
166450              NaN  2023-03-30            5      SURG           self
168187              NaN  2023-11-03            5      SURG           self

       triage_level  wait_minutes  length_of_stay_days      outcome  age sex  \
8               3.0           189                    0  transferred    0   M
24              4.0           207                    0   discharged  157   F
111             1.0           253                    0   discharged   -5   M
310             4.0           143                    0  transferred    0   M
368             3.0           325                    0   discharged    0   F
...             ...           ...                  ...          ...  ...  ..
166002          NaN           170                    2   discharged    1   F
166022          NaN           106                    2   discharged    0   M
166321          NaN           129                    2   discharged    0   M
166450          NaN           129                    4   discharged    0   M
168187          NaN           154                    4   discharged    0   F

        procedure_flag  admission_id
8                  0.0           NaN
24                 0.0           NaN
111                0.0           NaN
310                1.0           NaN
368                0.0           NaN
...                ...           ...
166002             0.0      186124.0
166022             0.0      186144.0
166321             1.0      186443.0
166450             1.0      186572.0
168187             1.0      188309.0

[230 rows x 13 columns]
age
230
--------------------------------------------------
__________________________________________________
Outliers in column 'procedure_flag':
     ï»¿admission_id        date  hospital_id ward_code arrival_source  \
135            136.0  2022-11-08            1     SURCG           self

    triage_level  wait_minutes  length_of_stay_days     outcome  age sex  \
135          3.0           201                    0  discharged  100   M

     procedure_flag  admission_id
135             2.0           NaN
procedure_flag
1
--------------------------------------------------
__________________________________________________
Outliers in column 'admission_id':
Empty DataFrame
Columns: [ï»¿admission_id, date, hospital_id, ward_code, arrival_source, triage_level, wait_minutes, length_of_stay_days, outcome, age, sex, procedure_flag, admission_id]
Index: []
admission_id
0
--------------------------------------------------
__________________________________________________
metrics
Outliers in column 'hospital_id':
Empty DataFrame
Columns: [ï»¿date, hospital_id, ward_code, base_beds, effective_capacity, occupancy, overflow, admissions, discharges, staffing_index, avg_wait_minutes, admission_rate_per_bed, discharge_rate_per_bed, occupancy_rate, date]
Index: []
hospital_id
0
--------------------------------------------------
__________________________________________________
Outliers in column 'base_beds':
Empty DataFrame
Columns: [ï»¿date, hospital_id, ward_code, base_beds, effective_capacity, occupancy, overflow, admissions, discharges, staffing_index, avg_wait_minutes, admission_rate_per_bed, discharge_rate_per_bed, occupancy_rate, date]
Index: []
base_beds
0
--------------------------------------------------
__________________________________________________
Outliers in column 'effective_capacity':
Empty DataFrame
Columns: [ï»¿date, hospital_id, ward_code, base_beds, effective_capacity, occupancy, overflow, admissions, discharges, staffing_index, avg_wait_minutes, admission_rate_per_bed, discharge_rate_per_bed, occupancy_rate, date]
Index: []
effective_capacity
0
--------------------------------------------------
__________________________________________________
Outliers in column 'occupancy':
Empty DataFrame
Columns: [ï»¿date, hospital_id, ward_code, base_beds, effective_capacity, occupancy, overflow, admissions, discharges, staffing_index, avg_wait_minutes, admission_rate_per_bed, discharge_rate_per_bed, occupancy_rate, date]
Index: []
occupancy
0
--------------------------------------------------
__________________________________________________
Outliers in column 'overflow':
          ï»¿date  hospital_id ward_code  base_beds  effective_capacity  \
35     2022-12-02            1        ED         30                  34
42     2022-12-09            1        ED         30                  34
45     2022-12-12            1        ED         30                  34
52     2022-12-19            1       MED         30                  34
92     2023-01-28            1     SURCG         30                  34
...           ...          ...       ...        ...                 ...
18064         NaN            5        ED         30                  34
18067         NaN            5        ED         30                  34
18075         NaN            5        ED         30                  34
18359         NaN            5        ED         30                  34
18403         NaN            5        ED         30                  34

       occupancy  overflow  admissions  discharges  staffing_index  \
35            34        59          86          31           0.975
42            34        58          85          31           0.984
45            34        65          88          27           1.005
52            34        70          99          33           1.017
92            34        60          85          29           0.979
...          ...       ...         ...         ...             ...
18064         34        61          85          28           0.955
18067         34        62          90          32           1.042
18075         34        60          87          31           1.010
18359         34        67          92          29           0.969
18403         34        58          81          27           0.999

       avg_wait_minutes  admission_rate_per_bed  discharge_rate_per_bed  \
35                  432                   2.867                   1.033
42                  381                   2.833                   1.033
45                  401                   2.933                   0.900
52                  389                   3.300                   1.100
92                  357                   2.833                   0.967
...                 ...                     ...                     ...
18064               360                   2.833                   0.933
18067               344                   3.000                   1.067
18075               397                   2.900                   1.033
18359               384                   3.067                   0.967
18403               376                   2.700                   0.900

       occupancy_rate        date
35                1.0         NaN
42                1.0         NaN
45                1.0         NaN
52                1.0         NaN
92                1.0         NaN
...               ...         ...
18064             1.0  2024-02-11
18067             1.0  2024-02-14
18075             1.0  2024-02-22
18359             1.0  2024-12-02
18403             1.0  2025-01-15

[123 rows x 15 columns]
overflow
123
--------------------------------------------------
__________________________________________________
Outliers in column 'admissions':
          ï»¿date  hospital_id ward_code  base_beds  effective_capacity  \
52     2022-12-19            1       MED         30                  34
99     2023-02-04            1        ED         30                  34
107    2023-02-12            1        ED         30                  34
141    2023-03-18            1        ED         30                  34
402    2023-12-04            1        ED         30                  34
574           NaN            1        ED         30                  34
843           NaN            1        ED         30                  34
916           NaN            1        ED         30                  34
4484          NaN            2        ED         30                  34
4573          NaN            2        ED         30                  34
4664          NaN            2        ED         30                  34
4848          NaN            2        ED         30                  34
4885          NaN            2        ED         30                  34
5205          NaN            2        ED         30                  34
5228          NaN            2        ED         30                  34
5258          NaN            2        ED         30                  34
8870          NaN            3        ED         30                  34
8888          NaN            3        ED         30                  34
8925          NaN            3        ED         30                  34
9303          NaN            3        ED         30                  34
9631          NaN            3        ED         30                  34
13625         NaN            4        ED         30                  34
13639         NaN            4        ED         30                  34
13644         NaN            4        ED         30                  34
13661         NaN            4        ED         30                  34
13702         NaN            4        ED         30                  34
14047         NaN            4        ED         30                  34
14049         NaN            4        ED         30                  34
14103         NaN            4        ED         30                  34
14273         NaN            4        ED         30                  34
17635         NaN            5        ED         30                  34
17685         NaN            5        ED         30                  34
17714         NaN            5        ED         30                  34
17715         NaN            5        ED         30                  34
18005         NaN            5        ED         30                  34
18016         NaN            5        ED         30                  34
18024         NaN            5        ED         30                  34
18038         NaN            5        ED         30                  34
18067         NaN            5        ED         30                  34
18359         NaN            5        ED         30                  34

       occupancy  overflow  admissions  discharges  staffing_index  \
52            34        70          99          33           1.017
99            34        68          91          27           1.001
107           34        64          90          30           0.905
141           34        67          95          32           0.926
402           34        73          98          29           0.976
574           34        70          99          33           1.017
843           34        68          91          27           0.983
916           34        68          94          30           1.060
4484          34        71          96          29           0.961
4573          34        62          90          32           0.935
4664          34        68          90          26           0.929
4848          34        66          94          32           1.024
4885          34        68          92          28           0.979
5205          34        66          94          32           0.982
5228          34        65          91          30           1.033
5258          34        65          90          29           1.009
8870          34        65          92          31           0.913
8888          34        66          96          34           0.986
8925          34        65          94          33           1.021
9303          34        71          96          29           0.944
9631          34        65          92          31           1.017
13625         34        68          92          28           1.052
13639         34        63          91          32           0.984
13644         34        65          91          30           1.009
13661         34        65          92          31           1.002
13702         34        66          92          30           1.061
14047         34        73          97          28           0.968
14049         34        63          90          31           1.015
14103         34        64          92          32           0.985
14273         34        69          99          34           0.968
17635         34        66          92          30           0.952
17685         34        74         102          32           0.948
17714         34        67          93          30           0.942
17715         34        83         102          23           1.019
18005         34        62          91          33           0.953
18016         34        62          91          33           0.982
18024         34        73         101          32           1.052
18038         34        68          91          27           1.046
18067         34        62          90          32           1.042
18359         34        67          92          29           0.969

       avg_wait_minutes  admission_rate_per_bed  discharge_rate_per_bed  \
52                  389                   3.300                   1.100
99                  384                   3.033                   0.900
107                 414                   3.000                   1.000
141                 476                   3.167                   1.067
402                 455                   3.267                   0.967
574                 389                   3.300                   1.100
843                 429                   3.033                   0.900

In [5]:
# List of columns to drop
cols_to_drop = ['admissions', 'date']

for name, data in list_data:
    print(f"Processing {name} dataframe:")
    # Drop columns only if they exist in the dataframe
    data = data.drop(columns=[col for col in cols_to_drop if col in data.columns], errors='ignore')
    
    # Print the dataframe after dropping the columns
    print(f"Data after dropping columns: {cols_to_drop}")
    print(data.head())  # Preview the updated data
    print("-" * 50)

Processing admissions dataframe:
Data after dropping columns: ['admissions', 'date']
   ï»¿admission_id  hospital_id ward_code arrival_source triage_level  \
0              1.0            1        ED       referral          4.0
1              2.0            1       ICU      ambulance          4.0
2              3.0            1        ED           self          NaN
3              4.0            1       MED           self          3.0
4              5.0            1        ED           self          4.0

   wait_minutes  length_of_stay_days      outcome  age sex  procedure_flag  \
0           189                    0   discharged   48   M             0.0
1           189                    0  transferred   93   F             0.0
2           189                    0   discharged   52   M             0.0
3           189                    0   discharged   64   M             0.0
4           189                    0   discharged   59   M             0.0

   admission_id
0           NaN
1           NaN
2           NaN
3           NaN
4           NaN
--------------------------------------------------
Processing metrics dataframe:
Data after dropping columns: ['admissions', 'date']
      ï»¿date  hospital_id ward_code  base_beds  effective_capacity  \
0  2022-10-28            1       MED         30                  34
1  2022-10-29            1     SURCG         30                  34
2  2022-10-30            1       ICU         30                  34
3  2022-10-31            1        ED         30                  34
4  2022-11-01            1       MED         30                  34

   occupancy  overflow  discharges  staffing_index  avg_wait_minutes  \
0         34        26          17           0.999               219
1         34        35          31           0.938               223
2         34        39          28           0.953               275
3         34        26          34           0.974               227
4         34        29          30           1.013               257

   admission_rate_per_bed  discharge_rate_per_bed  occupancy_rate
0                   1.700                   0.567             1.0
1                   2.067                   1.033             1.0
2                   2.100                   0.933             1.0
3                   1.867                   1.133             1.0
4                   1.833                   1.000             1.0
--------------------------------------------------
Processing hospitals dataframe:
Data after dropping columns: ['admissions', 'date']
   hospital_id              hospital_name      city  country  latitude  \
0            1  Helsinki Central Hospital  Helsinki  Finland   63.6698
1            2      Tampere City Hospital   Tampere  Finland   63.2868
2            3  Turku University Hospital     Turku  Finland   64.6781
3            4     Oulu Regional Hospital      Oulu  Finland   60.4406
4            5      Kuopio Medical Center    Kuopio  Finland   61.6540

   longitude  founded_year
0    25.0721          1979
1    22.6592          2008
2    27.3280          1998
3    25.1527          2003
4    28.4874          2003
--------------------------------------------------
Processing wards dataframe:
Data after dropping columns: ['admissions', 'date']
   hospital_id  ward_id ward_code             ward_name  base_beds
0            1    01-ED        ED  Emergency Department         30
1            1   01-ICU       ICU   Intensive Care Unit         20
2            1   01-MED       MED      General Medicine         50
3            1  01-SURG      SURG               Surgery         40
4            2    02-ED        ED  Emergency Department         30
--------------------------------------------------

###for study purposes [fill null values]


-forward fill



-backward fill


-grouped mode imputation


-KNN imputer



-interpolation

###Deal with the Outliers (What, why and when)

-Winsorization



-Scaling/Log transformation

would be great to get a timer function

In [6]:
 admissions['triage_level'].value_counts()

triage_level
3.0    21068
4.0    15812
2.0     7897
5.0     5217
1.0     2566
3.0      214
4.0      155
2.0       76
5.0       69
1.0       28
6.5        1
abc        1
Name: count, dtype: int64

In [9]:
admissions['ward_code'].nunique()

5

In [14]:
admissions['arrival_source'].nunique()

4

In [12]:
values_to_replace = {
    "6.5": "Null",
    "abc": "Null"
}

admissions['triage_level'].replace(values_to_replace, inplace=True)

In [15]:
admissions['triage_level'].mode() #wont really reduce biasessness

0    3.0
Name: triage_level, dtype: object

we are ging to look for columns if they exist

In [20]:
cols_to_fill = ['triage_level', 'date']

for name, data in list_data:
    for col in cols_to_fill:
        if 'triage_level' in data.columns:
            data['triage_level'] = data.groupby('ward_code')['triage_level'].transform(lambda x: x.fillna(x.mode()[0]))
            
            if 'date' in data.columns:
                data['date'] = pd.to_datetime(data['date'], errors='coerce')
                data['date'] = data['date'].fillna(method='ffill')
                data['date'] = data['date'].fillna(method='bfill')

/tmp/ipykernel_12798/3295746549.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['triage_level'] = data.groupby('ward_code')['triage_level'].transform(lambda x: x.fillna(x.mode()[0]))
/tmp/ipykernel_12798/3295746549.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='ffill')
/tmp/ipykernel_12798/3295746549.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='bfill')
/tmp/ipykernel_12798/3295746549.py:6: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['triage_level'] = data.groupby('ward_code')['triage_level'].transform(lambda x: x.fillna(x.mode()[0]))
/tmp/ipykernel_12798/3295746549.py:10: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='ffill')
/tmp/ipykernel_12798/3295746549.py:11: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['date'] = data['date'].fillna(method='bfill')